/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 
.white {
    background-color: white;
}

.antique_white {
    background-color: #FFE8DCff;
}

.blue1 {
    background-color: #12DBE6ff;
}

.blue2 {
    background-color: #0EA5ADff;
}

.blue3 {
    background-color: #0B7F85ff;
}

.brown1 {
    background-color: #C29378ff;
}

.brown2 {
    /*background-color: #4F3C31ff;*/
    background-color: white;
}

.background {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 15px;
    background-color: #CEF9FBff;
    box-shadow: 15px 15px 25px #053639ff;
    /*background-color: #FFE8DCff;*/
    /*background-color: #e6cbbc; dark tan*/
    /*background-color: #c5f0ea;*/
    background-color: #afd9db;
    box-shadow: 15px 15px 25px black;
}
/*.container{*/
    /*box-shadow: 15px 15px 25px black;*/
/*}*/
.mainheader{
    color: white;
    font-family: 'Bodoni MT';
   text-shadow: 1px 1px 4px #94927f;
   /*text-decoration: underline overline dotted #0B7F85ff;*/
   text-align: center;
}
.subtextmain{
    font-family: 'Bodoni MT';
    color: #0B7F85ff;
    text-align: center;
}
/*.text-center{*/
/*    color: white;*/
/*    font-family: 'Bodoni MT';*/
/*   text-shadow: 1px 1px 4px #94927f;*/
/*}*/
.navbar {
    background-color: #0B7F85ff;
    box-shadow: 1px 1px 20px #053639ff;
    box-shadow: 1px 1px 10px black;
    background-color: #0B7F85ff;
    
}
.auheader{
    color: white;
    font-family: 'Bodoni MT';
   text-shadow: 1px 1px 4px #94927f;
   text-align: justify;
    
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 
.white {
    background-color: white;
}

.antique_white {
    background-color: #FFE8DCff;
}

.blue1 {
    background-color: #12DBE6ff;
}

.blue2 {
    background-color: #0EA5ADff;
}

.blue3 {
    background-color: #0B7F85ff;
}

.brown1 {
    background-color: #C29378ff;
}

.brown2 {
    /*background-color: #4F3C31ff;*/
    background-color: white;
}

.background {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 15px;
    background-color: #CEF9FBff;
    box-shadow: 15px 15px 25px #053639ff;
    /*background-color: #FFE8DCff;*/
    /*background-color: #e6cbbc; dark tan*/
    /*background-color: #c5f0ea;*/
    background-color: #afd9db;
    box-shadow: 15px 15px 25px black;
}
/*.container{*/
    /*box-shadow: 15px 15px 25px black;*/
/*}*/
.mainheader{
    color: white;
    font-family: 'Bodoni MT';
   text-shadow: 1px 1px 4px #94927f;
   /*text-decoration: underline overline dotted #0B7F85ff;*/
   text-align: center;
}
.subtextmain{
    font-family: 'Bodoni MT';
    color: #0B7F85ff;
    text-align: center;
}
/*.text-center{*/
/*    color: white;*/
/*    font-family: 'Bodoni MT';*/
/*   text-shadow: 1px 1px 4px #94927f;*/
/*}*/
.navbar {
    background-color: #0B7F85ff;
    box-shadow: 1px 1px 20px #053639ff;
    box-shadow: 1px 1px 10px black;
    background-color:#0B7F85ff;
    
}
.auheader{
    color: white;
    font-family: 'Bodoni MT';
   text-shadow: 1px 1px 4px #94927f;
   text-align: justify;
    
}
.nav-item:hover {
  opacity: 0.6;

}
.logo{
    position: absolute;
    top: 10%;
    left: 50%;
    margin-left: -100px !important;  /* 50% of your logo width */
    display: block;
    

}

/*.nav-item:hover {*/
/*  opacity: 0.6;*/

/*}*/
/*.nav-item:hover {*/
/*  style: color: red;*/
/*}*/

.modal-header {
    background-color: #10B3BDff;
}

.modal-body {
    background-color: #ffe8d1ff;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: #0B7F85ff;
  color: white;
  box-shadow: 1px 1px 8px black;
}

.text-background {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 15px;
    background-color: white;
}
.card{
    box-shadow: 2px 4px 10px black;
}

.droptbtn nav-link dropdown-toggle text-white{
  color: white;
  background-color:#0B7F85ff;;
  color: white;
  padding: 7px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;opacity: 0.6;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .droptbtn nav-link dropdown-toggle text-white{background-color: #3e8e41; opacity: 0.6;}